* {
  background-color: #c02245;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  width: 20vh;
  height: 20vh;
  border-radius: 150px;
  margin: 2%;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  width: 200px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}
