* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background-color:#842CAE;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.logo {
  width: 10vh;
  height: 10vh;
  border-radius: 150px;
  margin: 2%;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 500px;
  font-size: 30px;
}

h1 {
  margin: 0;
  padding-bottom: 2%;
   
}

p {
  margin: 0;
  font-size: smaller;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #ae2cae;
  }

  .logo {
        display: none;
    }
}
}
